body {
    background-image: url('images/bluebackground.png');
    background-size: 10000px;
    background-repeat: 1000px;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

#centeredText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 
    padding: 1px 2px;
    font-size: 50px;
    font-weight: bolder;
    justify-content: center; 
    align-items: center;
    z-index: 10; 
    color: rgb(0, 0, 0); 
    margin-top: 0; 
    display: flex;
    position: fixed;
    top: 2%; 
    left: 2%; 
    transform: translate(-109, -11%); 
}

#notcenteredText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 
    padding: 1px 2px;
    font-size: 30px;
    font-weight: bolder;
    justify-content: center; 
    align-items: center;
    z-index: 10; 
    color: rgb(0, 0, 0); 
    margin-top: 0; 
    display: flex;
    position: fixed;
    top: 7%; 
    left: 2%; 
    transform: translate(-109, -11%); 
    cursor: pointer; 
    transition: color 0.5s ease-in-out, visibility 0s 0.5s; 
}

#notcenteredText:hover {
    color: transparent; 
    visibility: visible; 
}

#notcenteredText:hover::after {
    content: "welcome to freedom.";
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(0, 0, 0); 
    opacity: 1; 
    visibility: visible; 
    transition: opacity 0.5s ease-in-out; 
}

#notcenteredText::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(0, 0, 0); 
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.5s ease-in-out; 
}

#notcenteredText:hover::after {
    visibility: visible; 
    opacity: 1; 
}

.buttons {
    margin-top: 120px;
}

div {
    display: block;
    unicode-bidi: isolate;
}

a {
    display: inline-block;
    margin: 10px;
    padding: 2vh 3vh;
    font-size: 2.1vh;
    background-color: #2d76b9;
    color: #fff;
    text-decoration: none;
    border-radius: 1vh;
    transition: all 0.4s ease; 
}

a:hover {
    background-color: #35699b;
    transform: translateY(-4px); 
}