body {
    background-image: url('images/bluebackground.png');
    background-size: 10000px;
    background-repeat: 1000px;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

#centeredText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; /* Corrected text alignment */
    padding: 1px 2px;
    font-size: 50px;
    font-weight: bolder;
    justify-content: center; /* These will work with flex */
    align-items: center;
    z-index: 10; 
    color: rgb(0, 0, 0); 
    margin-top: 0; /* Adjust this if needed */
    display: flex;
    position: fixed;
    top: 2%; /* Center vertically */
    left: 2%; /* Center horizontally */
    transform: translate(-109, -11%); /* Center the div exactly in the middle */
}

#notcenteredText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; /* Corrected text alignment */
    padding: 1px 2px;
    font-size: 30px;
    font-weight: bolder;
    justify-content: center; /* These will work with flex */
    align-items: center;
    z-index: 10; 
    color: rgb(0, 0, 0); 
    margin-top: 0; /* Adjust this if needed */
    display: flex;
    position: fixed;
    top: 7%; /* Center vertically */
    left: 2%; /* Center horizontally */
    transform: translate(-109, -11%); /* Center the div exactly in the middle */
    cursor: pointer; /* Change the cursor to indicate it's interactive */
    transition: color 0.5s ease-in-out, visibility 0s 0.5s; /* Add visibility transition */
}

#notcenteredText:hover {
    color: transparent; /* Hide the original text color on hover */
    visibility: visible; /* Ensure visibility is maintained */
}

#notcenteredText:hover::after {
    content: "welcome to freedom.";
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(0, 0, 0); /* Set the text color to whatever you want */
    opacity: 1; /* Ensure it starts fully visible */
    visibility: visible; /* Make it visible on hover */
    transition: opacity 0.5s ease-in-out; /* Increased duration for opacity */
}

#notcenteredText::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(0, 0, 0); /* Set the text color */
    opacity: 0; /* Start invisible */
    visibility: hidden; /* Hide initially */
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

#notcenteredText:hover::after {
    visibility: visible; /* Make the new text visible */
    opacity: 1; /* Show the new text */
}

.buttons {
    margin-top: 120px;

}

div {
    display: block;
    unicode-bidi: isolate;

}

a {
    display: inline-block;
    margin: 10px;
    padding: 2vh 3vh;
    font-size: 2.1vh;
    background-color: #2d76b9;
    color: #fff;
    text-decoration: none;
    border-radius: 1vh;

}

a:hover {
    background-color: #35699b;
    padding: 2vh 3vh;
    margin-top: 14px;
    transition: all 0.4s ease;
}

